body {
  font-family: Poppins, 'sans serif';
}

div {
    background-color: #87ceeb;
    text-align: center;
    color: white;

  }
  
  p {
    text-align: center;
  }
  
  #quote-box {
    height: 3in;
    width: 3in;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 25px;
  
  }

  #author {
    color: black;

    margin: 10px;
  }

  #buttons {
    text-align: center;
  margin: 0.25in;
  }